/*** RESET ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    padding: 3em 3em;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

::selection {
  background: #fff2a8;
}
::-moz-selection {
  background: #fff2a8;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: -0.05em;
    text-align: center;
    padding-bottom: 0.3em;
}

.rrss {
  font-size: 1.4em;
  padding: 0em 2em 1.5em 2em;
  text-align: center;
}

h3 {
  font-weight: 600;
  text-align: left;
  padding-bottom: 0.5em;
}

span.title:hover {
    background-color: #fff2a8;
}

p {
    margin: 0.2em 0 0 0;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 16px 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
    box-sizing: border-box;
    padding-bottom: 2em;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.newrow {
    float: left;
    width: 100%;
    /*box-sizing: border-box;*/
    /*padding-bottom: 2em;*/
    /*add a horizontal line*/
    border-bottom: 0.05em solid black;
    padding-top: 1.5em;
}

.pubtitle {
    width: 24%;
    float: left;
    margin: .5em;
    height: 200px;
}

.descrip {
    width: 48%;
    float: left;
    margin: .5em;
    font-size: 13pt;
    font-weight: 400;
    
}

.text-container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Content */

.bio {
    padding: 0 2em;
    line-height: 1.5em;
}

.icon {
  max-width: 25;
  height: auto;
}

.content {
    background-color: white;
    padding: 0 2em;
    height: 28em;
}

.info {
  position: relative;
  padding-bottom: 1.1em;
}

.description {
    font-size: 0.95em;
    text-align: left;
    text-justify: inter-character;
    word-break: normal;
    hyphens: auto;
}

.left-half {
  position: absolute;
  left: 0px;
  width: 70%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 30%;
}

.skills {
  text-align: left;
  font-size: 0.65em;
  padding-top: 0.5em; /*edited*/
  padding-bottom: 0.5em;
}

.date {
  /*text-align: right;*/
  font-size: 0.65em;
  margin-top: .75em; /*edited*/
}

.publication {
  display: flex;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  padding-bottom: 0.5em;
}

.nomargin {
  margin: 0;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

footer {
  text-align: right;
}

.credit {
  font-size: small;
  font-style: underline;
}

.creditlink {
  font-size: small;
  font-style: bold;
}

ul {
  list-style: none;
  margin-top: 0.5em;
}

.nerdbox {
  background-color: lightgray;
  border-radius: 25px;
  width: fit-content;
  padding: .5em;
  font-size: 0.65em;
  margin-top: 2em;
}

.itemimage {
  transition: all 0.5s ;
  height: 200px;
  object-fit: contain;
  width: 24%;
  float: left; 
}

.itemimage:hover {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
    transform:scale(1.05);
}

.menuitem {
  display: inline;
  margin: 0 10px;
}

/** Buttons **/


.btn-row {
  padding: 2.5em 0 2.5em 2em;
}


.btn input {
  display: none;
}

.btn span {
    border: 1.2px solid black;
    background-color: #fff;
    color: black;
    padding: 0.8em 0.8em;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    margin: 0.2em 0em;
}

.btn span:hover {
    background-color: #fbffee;
    color: black;
}

.btn.active {
  background-color: #666;
  color: white;
}

.filterDiv {
  float: left;
  display: none; 
}

.show {
  display: block;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 3000px) {
.bio {
    padding: 0 6.5em 1em 6.5em;
}
}

@media (max-width: 950px) {
    .column {
        width: 50%;
    }
    .content {
          background-color: white;
          padding: 0 2em;
          height: 32em;
      }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  body {
      padding: 3em 7em;
  }
  .bio {
      padding: 0 1.3em;
  }
    .column {
        width: 100%;
    }
    .content {
        background-color: white;
        padding: 0 2em;
        height: auto;
    }

  .btn-row {
    padding: 1em 0 1.5em 1.5em;
  }

  .btn span {
      border: 1px solid black;
      background-color: #fff;
      color: black;
      padding: 0.6em 0.6em;
      font-size: 0.8em;
      cursor: pointer;
      border-radius: 3px;
      display: inline-block;
      margin: 0.2em 0em;
  }

}

@media (max-width: 500px) {
    .column {
        width: 100%;
    }
        .content {
          height: auto;
      }
    body {
        padding: 1em 1em;
    }

    .row,
    .row > .column {
        padding: 18px 8px;
    }

    .btn-row {
      padding: 1.5em 0 1.5em 1.5em;
    }

    .btn span {
        border: 1px solid black;
        background-color: #fff;
        color: black;
        padding: 0.5em 0.5em;
        font-size: 0.7em;
        cursor: pointer;
        border-radius: 3px;
        display: inline-block;
        margin: 0.2em 0em;
    }
}
